<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tache créée avec succès</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body background="/image/imageFond.jpg" style="background-size: cover; background-attachment: fixed;">
    <div class="container text-center" style="background-color:white ; border-style: inset; ">
        <h3>Tache creee avec succès !</h3>
        <h4><a th:href="@{/users}">Cliquez ici pour retourner au menu !</a></h4>
    </div>
     
</body>
</html>